/* Google fonts */



/* REST SETTINGS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
}

.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
}

.circle-btn {
  position: absolute;
  width: 15px !important;
  height: 15px !important;
  top: 2px;
  left: 3px;
  transition: left 0.3s ease;
}

.toggle.active {
  background-color: #aaaaaa !important;
}

.toggle.active .circle-btn {
  left: 22px !important;
}

